* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(240, 169, 144);
}

.head {
  color: rgb(41, 38, 38);
}

.first {
  font-weight: bold;
}

#img {
  width: 500px;
}

#your-data {
  background-color: rgb(143, 179, 179);
  border: 3px solid rgb(32, 29, 29);
  padding: 5px;
  margin-top: 30px;
}
